/ChurchManagementSystem/.vs
/ChurchManagementSystem/Church_App/bin
/ChurchManagementSystem/Church_App/obj
/ChurchManagementSystem/DataAccess/obj
/ChurchManagementSystem/Entities/obj
/ChurchManagementSystem/Services/obj
/ChurchManagementSystem/Services/bin
/ChurchManagementSystem/DataAccess/bin
/ChurchManagementSystem/Entities/bin
