@page "/NotFound"
@model Church_App.Pages.ManagementSystem.NotFoundModel
@{
    ViewData["Title"] = "Page Not Found";
    Layout = "~/Pages/Shared/_HomeLayout.cshtml";
}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-5">
                <h4 class="page-title">Access Denied</h4>
            </div>
            <div class="col-sm-8 col-7 text-right m-b-30">
              
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>You do not have permission to view this page.</p>
            </div>
        </div>
    </div>

   

</div>

