@page "/setting/update"

@model Church_App.Pages.ChurchSettingUpdateModel

@{
    ViewData["Title"] = "Update Church Setting";

    Layout = "~/Pages/Shared/_HomeLayout.cshtml";
}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-5">
                <h4 class="page-title">Update Setting</h4>
            </div>
           @*  <div class="col-sm-8 col-7 text-right m-b-30">
                <button class="btn btn-primary btn-rounded float-right" data-bs-toggle="modal" data-bs-target="#addDonationTypeModal">
                    <i class="fa fa-plus"></i> Add Donation Type
                </button>
            </div> *@
        </div>

        <div class="row">
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                        {
                            <div class="alert alert-danger">@Model.ErrorMessage</div>
                        }
                        <div class="col-md-6 mb-3">
                            <label asp-for="ChurchSetting.Name" class="form-label"></label>
                            <input asp-for="ChurchSetting.Name" class="form-control" />
                            <span asp-validation-for="ChurchSetting.Name" class="text-danger"></span>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label asp-for="ChurchSetting.Address" class="form-label"></label>
                            <input asp-for="ChurchSetting.Address" class="form-control" />
                            <span asp-validation-for="ChurchSetting.Address" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="ChurchSetting.Street" class="form-label"></label>
                            <input asp-for="ChurchSetting.Street" class="form-control" />
                            <span asp-validation-for="ChurchSetting.Street" class="text-danger"></span>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label asp-for="ChurchSetting.City" class="form-label"></label>
                            <input asp-for="ChurchSetting.City" class="form-control" />
                            <span asp-validation-for="ChurchSetting.City" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="ChurchSetting.Zipcode" class="form-label"></label>
                            <input asp-for="ChurchSetting.Zipcode" class="form-control" />
                            <span asp-validation-for="ChurchSetting.Zipcode" class="text-danger"></span>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label asp-for="ChurchSetting.PhoneNumber" class="form-label"></label>
                            <input asp-for="ChurchSetting.PhoneNumber" class="form-control" />
                            <span asp-validation-for="ChurchSetting.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <a href="/Logout" class="btn btn-link">Logout</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
