<!DOCTYPE html>
@using Services
@inject PermissionHelper PermissionHelper
@{
    var isLoginPage = Context.Request.Path.Value?.ToLower().Contains("index") ?? false;

    if (!isLoginPage && string.IsNullOrEmpty(Context.Session.GetString("UserEmail")))
    {
        Context.Response.Redirect("/");
    }else
    {
        var path = Context.Request.Path.Value?.Trim('/').ToLower();
        var roleId = Context.Session.GetString("RoleId");
        bool allowAccess = await PermissionHelper.HasAccessAsync(path, roleId);
        // var allowAccess = await PermissionHelper.HasAccessAsync(path);

        if (!string.IsNullOrEmpty(path) && !allowAccess && path != "index")
        {
            Context.Response.Redirect("/NotFound");
        }
    }

  
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables Buttons Bootstrap 4 support -->
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap4.min.css" />




    <!-- Report Viewer component styles -->
    <link href="https://cdn.boldreports.com/8.1.1/content/v2.0/tailwind-light/bold.report-viewer.min.css" rel="stylesheet" />

    <!-- Report Viewer component dependent script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.boldreports.com/8.1.1/scripts/v2.0/common/bold.reports.common.min.js"></script>
    <script src="https://cdn.boldreports.com/8.1.1/scripts/v2.0/common/bold.reports.widgets.min.js"></script>

    <!-- Report Viewer component script -->
    <script src="https://cdn.boldreports.com/8.1.1/scripts/v2.0/bold.report-viewer.min.js"></script>
</head>
<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="/dashboard" class="logo">
                    <img src="~/assets/img/logo.png" width="35" height="35" alt=""> <span>Church</span>
                </a>
            </div>
            <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="~/assets/img/user.jpg" width="24" alt="Admin">
                            <span class="status online"></span>
                        </span>
                        <span>Admin</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/profile">My Profile</a>
                        <a class="dropdown-item" href="/Logout">Logout</a>
                    </div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/pprofile">My Profile</a>
                    <a class="dropdown-item" href="/Logout">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>

                        <li class="active">
                            <a href="dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href="donations"><i class="fa fa-dollar"></i> <span>Donations</span></a>
                        </li>
                        <li>
                            <a href="members"><i class="fa fa-users"></i> <span>Members</span></a>
                        </li>
                        <li>
                            <a href="vendors"><i class="fa fa-users"></i> <span>Vendors</span></a>
                        </li>
                        <li>
                            <a href="visitors"><i class="fa fa-users"></i> <span>Visitors</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-cog"></i> <span> Settings </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="groups">Groups</a></li>
                                <li><a href="donation-types">Donation-Types</a></li>
                                <li><a href="expense-types">Expense-Types</a></li>
                                <li><a href="Roles">Roles</a></li>
                            </ul>

                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-file"></i> <span> Reporting </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="donationreport">Donation Report</a></li>
                                <li><a href="expensereport">Expense Report</a></li>
                                <li><a href="depositreport">Deposit Report</a></li>

                            </ul>

                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-money"></i> <span> Account </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="banks">Banks</a></li>
                                <li><a href="deposits">Deposits</a></li>
                                <li><a href="expenses">Expenses</a></li>
                            </ul>
                        </li>
                        <li class="menu-title">System Administrator</li>
                        <li>
                            <a href="administrators"><i class="fa fa-laptop"></i> <span>Manage Access</span></a>
                        </li>
                        <li>
                            <a href="permissions"><i class="fa fa-chain"></i> <span>Permission</span></a>
                        </li>
                        <li>
                            <a href="sendmail"><i class="fa fa-envelope"></i> <span>Send Mail</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
    <!-- Bold Reports<sup>®</sup> script manager -->
    <bold-script-manager></bold-script-manager>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/select2.min.js"></script>
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap4.min.js"></script>

    <!-- Buttons extension -->
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap4.min.js"></script>

    <!-- Export dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

    <!-- jQuery (required for Select2) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // Initialize Select2 for the multi-select dropdown
            $('.select2').select2({
                placeholder: "Select Recipients",
                allowClear: true  // Optional: Adds a clear button to deselect options
            });
        });
    </script>

</body>
</html>
